[submodule "vco-roc"]
	path = vco-roc
	url = git@github.com:msolefonte/vco-roc.git
[submodule "vco-framework"]
	path = vco-framework
	url = git@github.com:msolefonte/vco-framework.git
[submodule "vco"]
	path = vco
	url = git@github.com:msolefonte/vco.git
[submodule "tww3-chaos-confederation"]
	path = tww3-chaos-confederation
	url = https://github.com/msolefonte/tww3-chaos-confederation
